[run]
source = src/cim_ontology
branch = True
omit =
    tests/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
show_missing = True
precision = 1

[html]
directory = htmlcov
